#carouselContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap; /* Keep images in line */
}

.carouselSlide {
    display: flex;
    transition: transform 0.5s ease;
}

.carouselSlide img {
    width: auto; /* Auto width to maintain aspect ratio */
    height: 60px; /* Smaller height, adjust as needed */
    margin-right: 10px; /* Adjust spacing between images */
}
