body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .carousel-inner {
    display: flex;
    width: calc(100% * 3); /* Adjust based on number of images */
    animation: scroll 10s linear infinite;
  }
  
  .carousel-inner img {
    width: auto;
    flex: 0 0 auto;
    transition: transform 0.5s ease;
    height: 90vh;
    justify-content: center;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
